<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
        {{if .Title}}{{- .Title }} - {{ end }}Andon Monitoring System
    </title>
    <link rel="stylesheet" href="/static/css/app.css" />
    {{block "styles" .}}{{end}}
</head>

<body>
{{template "_header.gohtml" .}}
{{template "content" .}}
{{template "_footer.gohtml" .}}
{{block "scripts" .}}{{ end }}
</body>

</html>
